/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #f4f7ff;
    --sidebar-color: #1f0052;
    --primary-color: #7041cc;
    --primary-color-light: #F6F5FF;
    --icon-color: #484848;
    --sidebartext-color: #dddddd;
    --text-color: #494949;
    --text-color-light: #8e8e8e;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/* ::selection{
    background-color: var(--primary-color);
    color: #fff;
} */

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.container {}

/*============== sidebar sidebar ==============*/

.sidebar {
    min-height: 100vh;
    width: 13rem;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-color);
    padding: .5rem .7rem;
    transition: var(--tran-03);
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 100; */
}

.sidebar.sidebar-close {
    width: 4rem;
}

/*============== top sidebar ==============*/

.top-sidebar {
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    gap: .5rem;
    height: 4rem;
}

.logo-image-container {
    min-width: 2.7rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-image-container__image {
    width: 2rem;
    border-radius: .5rem;
}

.sidebar.sidebar-close .logo-title {
    display: none;
}

.logo-title__heading {
    font-size: 1.2rem;
    opacity: 1;
    transition: var(--tran-03);
    color: var(--sidebartext-color);
}

/*============== middle sidebar ==============*/

.middle-sidebar {
    margin-top: 2.5rem;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-nav {}

.nav-list {
    list-style-type: none;
    padding: 0;

}

.nav-list__item {
    margin-top: .5rem;
    height: 3rem;
}

.nav-link {
    text-decoration: none;
    color: var(--sidebartext-color);
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    transition: var(--tran-02);
    gap: .4rem;
}

.nav-link:hover {
    background-color: var(--primary-color);
}

.nav-link .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.6rem;
    border-radius: .5rem;
    height: 100%;
    font-size: 1rem;
}

.nav-list__text,
.logout__text {
    font-size: .8rem;
    opacity: 1;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.sidebar-close .nav-list__text,
.sidebar.sidebar-close .logout__text {
    opacity: 0;
}

/*============== bottom sidebar ==============*/

.bottom-sidebar {}

.logout {}

.logout .nav-list__item {
    list-style-type: none;
}


/*============== main ==============*/

.main-content {
    position: absolute;
    top: 0;
    left: 13rem;
    width: calc(100% - 13rem);
    padding: 0 1rem;
    transition: var(--tran-03);
}


.sidebar.sidebar-close~.main-content {
    left: 4rem;
    height: 100vh;
    width: calc(100% - 4rem);
    transition: var(--tran-03);
}

.header {}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu-icon {
    display: flex;
    align-items: center;
}

.header .menu-icon {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--icon-color);
}


.header-form {
    margin-left: 1.5rem;
}

.header-form .header__input-box {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: .2rem;
    border-radius: .5rem;
    padding-left: .1rem;
    min-width: 22rem;
}

.header-form .header__search-btn {
    border: none;
    cursor: pointer;
    background-color: #ffffff00;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.header-form .search-icon {
    font-size: 1rem;
    color: var(--icon-color);
}

.header__search-input {
    border: none;
    outline: none;
    background-color: #ffffff00;
    padding: .3rem .2rem;
    color: var(--text-color);
    font-size: .9rem;
    min-width: 80%;
}

.header__search-input:focus {
    outline: none;
    border-color: #8dc4e1;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header__notif {
    position: relative;
}

.header__notif-link {
    text-decoration: none;
    color: var(--text-color);
}

.header__notif-icon {
    font-size: 1.2rem;
}

.header__notif-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 16px 16px -1px rgba(10, 22, 70, 0.075);
    -webkit-box-shadow: 0px 16px 16px -1px rgba(10, 22, 70, 0.075);
    -moz-box-shadow: 0px 16px 16px -1px rgba(10, 22, 70, 0.075);
    border-radius: .5rem;
    padding: .8rem;
    min-width: 25rem;
}

.header__notif-dropdown-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .8rem;
    padding: .5rem;
}

.header__notif-dropdown-title {
    font-weight: 500;
    font-size: .9rem;
}

.header__notif-dropdown-clear {
    text-decoration: none;
    color: var(--primary-color);
    font-size: .9rem;
    font-weight: 500;
}

.header__notif-dropdown-items {}

.header__notif-dropdown-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .7rem .3rem;
    border-radius: .5rem;
}

.header__notif-dropdown-item:hover {
    background-color: var(--body-color);
}

.header__notif-dropdown-item-imgcontainer {
    max-width: 2.5rem;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.header__notif-dropdown-item-img {
    width: 100%;
}

.header__notif-dropdown-item-content {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.header__notif-dropdown-item-text {
    font-size: .9rem;
    color: var(--text-color);
    margin: 0;
}

.header__notif-dropdown-item-time {
    font-size: .8rem;
    color: var(--text-color-light);
    margin: 0;
}

.header__icon-user-splitor {
    border-left: 1.5px solid #a5a5a5;
    height: 20px;
}

.header__user {
    position: relative;
    display: flex;
    align-items: center;
}

.header__user-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    text-decoration: none;
    color: var(--text-color);
}

.header__user-image-container {
    max-width: 1.9rem;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.header__user-image {
    width: 100%;
}

.header__user-name {
    font-weight: 500;
    font-size: .9rem;
}

.header__dropdown-icon {
    font-size: 1.3rem;
    margin-left: -.4rem;
}


.header__user-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 16px 16px -1px rgba(10, 22, 70, 0.075);
    -webkit-box-shadow: 0px 16px 16px -1px rgba(10, 22, 70, 0.075);
    -moz-box-shadow: 0px 16px 16px -1px rgba(10, 22, 70, 0.075);
    border-radius: .5rem;
    padding: .2rem 1rem;
    min-width: 10rem;
}

.header__user-dropdown-status {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;
}

.header__user-dropdown-signin {
    color: var(--text-color-light);
    font-size: .85rem;
}

.header__user-dropdown-name {
    color: var(--text-color);
    font-size: .9rem;
    font-weight: 500;
}

.header__user-dropdown-links {
    border-top: 1px solid #e7e7e7;
    padding: .6rem 0rem;
}

.header__user-dropdown-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .7rem;
    padding: .6rem .6rem;
    border-radius: .5rem;
}

.header__user-dropdown-link:hover {
    background-color: var(--body-color);
}

.header__user-dropdown-link i {
    color: var(--text-color);
    font-size: .9rem;
}

.header__user-dropdown-link span {
    color: var(--text-color);
    font-size: .8rem;
}


.main {
    max-width: 100%;
}

.main-container {
    border-radius: .5rem;
}



.projects__main-side_flex-container {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0rem;
    gap: 1rem;
}

.projects__main-container {
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #fff;
    flex: 1;
}

.projects__headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.projects__title {
    margin: 0;
}

.projects__create-project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    text-decoration: none;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    font-size: .8rem;
    font-weight: 500;
    min-width: 8rem;
    text-align: center;
    padding: .7rem .5rem;
    border-radius: .5rem;
}

.projects__create-project i {
    font-size: 1rem;
}

.projects__modal,
.project__create-event-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0rem;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.313);
}

.projects__modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1.5rem;
    width: 60%;
    border-radius: .5rem;
}

.projects__modal-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects__modal-heading {
    font-weight: 500;
    font-size: 1.3rem;
}

.projects__modal-close-icon {
    font-size: 1.7rem;
    color: var(--text-color-light);
}

.projects__modal-close-icon:hover {
    color: #f6583f;
    transition: var(--tran-02);
}

.projects__modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    padding: .5rem;
}

.projects__modal-form-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.projects__modal-form-box-container:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.projects__modal-form label {
    font-size: .8rem;
    color: var(--text-color);
}

.projects__modal-form input,
.projects__modal-form .projects__modal-form-box-container textarea,
.projects__modal-form select {
    width: 70%;
    border: 1px solid #cbcbcb;
    border-radius: .5rem;
    min-height: 2.3rem;
    outline: none;
    padding: .7rem .5rem;
    font-size: .8rem;
}

.projects__modal-form input:focus,
.projects__modal-form .projects__modal-form-box-container textarea:focus,
.projects__modal-form select:focus {
    border-color: var(--primary-color);
    transition: var(--tran-02);
}

.projects__modal-form .projects__modal-form-box-container textarea {
    max-height: 6rem;
    font-size: .8rem;
}

.projects__modal-form .projects__modal-form-category option {
    padding: 15rem;
    font-size: .8rem;
}

.projects__modal-form-cancel-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: .8rem;
}

.projects__modal-form button {
    background-color: var(--primary-color);
    font-size: .8rem;
    color: var(--body-color);
    padding: .5rem 1.4rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.projects__statistics-itemstyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.projects__statistics {
    display: flex;
}

.projects__statistics-box {
    margin-right: 2rem;
}

.projects__statistics-number {
    margin: 0;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: .3rem;
}

.projects__statistics-status {
    margin: 0;
    font-size: .9rem;
    color: var(--text-color);
}

.projects__viewstyle {}

.projects__viewstyle-icon {
    font-size: 1.5rem;
    margin: .2rem;
    color: var(--text-color);
    padding: .2rem;
}

.projects__viewstyle-icon:active {
    background-color: #000;
    color: var(--sidebartext-color);
}


.projects__container {
    background-color: #fff;
    margin: 1rem 0rem;
}

.projects__project-tables {
    margin: 1.5rem 0;
    display: flex;
    flex-flow: column nowrap;
}

.projects__project-statuses {}

#projects__project-statuses-todo {
    border-bottom: solid 1px #b1b1b13e;
}

#projects__project-statuses-inprogress {
    border-bottom: solid 1px #6f41cc3e;
}

#projects__project-statuses-completed {
    border-bottom: solid 1px hsla(110, 71%, 49%, 0.251);
}

.projects__project-statuses-link {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    max-width: max-content;
    padding: .5rem;
    font-weight: 600;
    font-size: .8rem;
    border-radius: .5rem;
}

#projects__project-statuses-link-todo {
    color: var(--text-color);
}

#projects__project-statuses-link-inprogress {
    background-color: var(--primary-color);
    color: var(--sidebartext-color);
}

#projects__project-statuses-link-completed {
    background-color: hsl(110, 71%, 49%);
    color: #fff;
}

.projects__project-statuses-link_icon {
    margin-right: .2rem;
}

.projects__project-heading__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .8rem;
}

.projects__project-settings-icon-white {
    color: #fff;
}

.projects__project-table {}

.projects__project-list-toggle {
    display: none;

}

.projects__project-row_headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: .5rem;
    padding: .1rem .3rem;
}

.projects__project-heading__name,
.projects__project-heading__assigned,
.projects__project-heading__priority,
.projects__project-heading__deadline,
.projects__project-heading__comments {
    text-transform: uppercase;
    font-size: .7rem;
}

.projects__project-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: .5rem;
    padding: .7rem .3rem;
}

.projects__project-row:hover {
    background-color: var(--body-color);
}

.projects__project-status {
    display: flex;
    align-items: center;
    justify-content: center;

}

.projects__project-status_box-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .8rem;
}

.projects__project-status_box-outer:hover {
    border-radius: .15rem;
    border: solid .1rem #a7a7a7;
}

.projects__project-status_box-inner {
    min-width: .7rem;
    min-height: .7rem;
    padding: .15rem;
    background-color: #a7a7a7;
    border-radius: .15rem;
}

.projects__project-name {
    display: flex;
    flex: 1;

}

.projects__project-name-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: .8rem;
}

.projects__project-name-link_name {
    font-size: .8rem;
    color: var(--text-color);
    margin-bottom: .2rem;
}

.projects__project-name-link_client {
    font-size: .6rem;
    color: var(--text-color-light);
}


.projects__project-assignee {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.projects__project-asignee-container {
    max-width: 1.5rem;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.projects__project-asignee-container-img {
    width: 100%;
}

.projects__project-priority {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.projects__project-priority-icon {
    color: var(--text-color-light);

}

.projects__project-deadline {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.projects__project-deadline__text {
    margin: 0;
    font-size: .8rem;
}

.projects__project-deadline__days {
    margin: 0;
    margin-top: .4rem;
    font-size: .6rem;
    color: var(--text-color-light);
}

.projects__project-comments {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.projects__project-comments-icon {
    color: var(--text-color-light);
    font-size: 1rem;
}

.projects__project-settings {
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    margin: 0 .8rem;
}

.projects__project-settings .projects__project-settings-icon {
    color: var(--text-color-light);
    display: none;
    cursor: pointer;
}


.projects-side__main-container {
    flex: 0;
    min-width: 20%;
    background-color: #fff;
    border-radius: .5rem;
}

.projects-side__title {
    margin: 0;
    font-weight: 700;
    padding: 1.5rem;
}

.projects-side__statistics {
    padding: 1rem;
    display: flex;
    flex-direction: column;

}


/*===== progress pie =====*/



.projects-side__statistics-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: .5rem;

}

.projects-side__statistics-box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border-radius: .5rem;
    padding: .4rem .6rem;

}

.projects-side__statistics-container:nth-of-type(1)>.projects-side__statistics-box:nth-of-type(1) {
    background-color: #e7f7ff;
}

.projects-side__statistics-container:nth-of-type(1)>.projects-side__statistics-box:nth-of-type(2) {
    background-color: #ffecd4;
}

.projects-side__statistics-container:nth-of-type(2)>.projects-side__statistics-box:nth-of-type(1) {
    background-color: #ffe3ff;
}

.projects-side__statistics-container:nth-of-type(2)>.projects-side__statistics-box:nth-of-type(2) {
    background-color: #e2dcff;
}





.projects-side__statistics-container:nth-of-type(1)>.projects-side__statistics-box:nth-of-type(1) .projects-side__statistics-box_number {
    border-color: #0051ff;
}

.projects-side__statistics-container:nth-of-type(1)>.projects-side__statistics-box:nth-of-type(2) .projects-side__statistics-box_number {
    border-color: #ffa02c;
}

.projects-side__statistics-container:nth-of-type(2)>.projects-side__statistics-box:nth-of-type(1) .projects-side__statistics-box_number {
    border-color: #ff00ff;
}

.projects-side__statistics-container:nth-of-type(2)>.projects-side__statistics-box:nth-of-type(2) .projects-side__statistics-box_number {
    border-color: var(--primary-color);
}


.projects-side__statistics-box_text {
    margin: .2rem 0;
    font-size: .6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
}

.projects-side__statistics-box_number {
    margin: .2rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-left: 3px solid;
    padding-left: .4rem;
}




/* ====== project page styles ====== */

.project__details-members-container {
    padding: 1.5rem;
    margin: 1rem 0rem;
    background-color: #fff;
    border-radius: .5rem;
}

.project__title-container {}

.project__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__heading {
    display: flex;
    align-items: center;
}

.project__heading-name {
    margin: 0;
}

.project__edit-project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    text-decoration: none;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    font-size: .8rem;
    font-weight: 500;
    min-width: 8rem;
    text-align: center;
    padding: .7rem .5rem;
    border-radius: .5rem;
}

.project__edit-project i {
    font-size: 1rem;
    margin-right: .2rem;
}

/*=========== MODAL BOX ===========*/
.project__modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0rem;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.313);
}

.project__modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1.5rem;
    width: 60%;
    border-radius: .5rem;
}

.project__modal-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__modal-heading {
    font-weight: 500;
    font-size: 1.3rem;
}

.project__modal-close-icon {
    font-size: 1.7rem;
    color: var(--text-color-light);
}

.project__modal-close-icon:hover {
    color: #f6583f;
    transition: var(--tran-02);
}

.project__modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    padding: .5rem;
}

.project__modal-form-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.project-modal-form-text{
    font-size: .8rem;
    color: var(--text-color);
}

.project__modal-form-box-container:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.project__modal-form label {
    font-size: .8rem;
    color: var(--text-color);
}

.project__modal-form input,
.project__modal-form .project__modal-form-box-container textarea,
.project__modal-form select {
    width: 70%;
    border: 1px solid #cbcbcb;
    border-radius: .5rem;
    min-height: 2.3rem;
    outline: none;
    padding: .7rem .5rem;
    font-size: .8rem;
}

.project__modal-form input:focus,
.project__modal-form .project__modal-form-box-container textarea:focus,
.project__modal-form select:focus {
    border-color: var(--primary-color);
    transition: var(--tran-02);
}

.project__modal-form .project__modal-form-box-container textarea {
    max-height: 6rem;
    font-size: .8rem;
}

.project__modal-form .project__modal-form-category option {
    padding: 15rem;
    font-size: .8rem;
}

.project__modal-form-cancel-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: .8rem;
}

.project__modal-form button {
    background-color: var(--primary-color);
    font-size: .8rem;
    color: var(--body-color);
    padding: .5rem 1.4rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

/*============== MEMBERS ==============*/
.project__members {
    margin: 1rem 0rem;
    width: 100%;
    /* Set a fixed height for the container */
    overflow: hidden;
}

.project__members_heading-wrapper {
    display: flex;
    justify-content: space-between;
}

.project__members-title {}

.project__members-title-heading {
    font-weight: 600;
}

.project__members_btn-wrapaper {
    display: flex;
    align-items: center;
}

.project__members-seeall {
    text-decoration: underline;
    color: var(--text-color);
    cursor: pointer;
    font-size: .9rem;
}


.project__member-modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0rem;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.313);
}

.project__member-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1.5rem;
    width: 70%;
    min-height: 40rem;
    border-radius: .5rem;
}

.project__member-modal-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__member-modal-heading {
    font-weight: 500;
    font-size: 1rem;
    font-weight: 600;
}

.project__member-modal-close-icon {
    font-size: 1.5rem;
    color: var(--text-color-light);
}

.project__member-modal-close-icon:hover {
    color: #f6583f;
    transition: var(--tran-02);
}

.project__member-modal_addmember {
    
}

.project__member-modal_addmember-link {

}

.project__member-modal_members {
    margin: 1rem 0;
    width: 100%;
}

.project__member-modal_members th {
    font-size: .8rem;
    font-weight: 600;  
    text-align: left;
}
.project__member-modal_members th, .project__member-modal_members td {
    padding: .5rem;
}
.project__member-modal_member {

}

.project_member-modal_member-flex {

}
.project__member-modal_member-avatar {
    display: block;
    width: 3rem;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0 auto;
}
.project__member-modal_member-img {
    border-radius: 2rem;
    width: 100%;
}
.project__member-modal_member-text {
    font-size: .9rem;
}
.project__member-modal_member-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sidebartext-color);
    font-size: .7rem;
    border-radius: .5rem;
    padding: .5rem .2rem;
    background-color: #eb555f;

}



.project__members-buttons {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.project__member-more-prev,
.project__member-more-next {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid 1px var(--primary-color);
    border-radius: .5rem;
    transition: var(--tran-02);
}

.project__member-more-prev:hover,
.project__member-more-next:hover {
    transform: scale(1.1);
}

.project__member-more-next {}

.project__member-more-prev {}

.project__member-more-icon {
    color: var(--primary-color);
    font-size: 1.5rem;
}


.project__members-flex-container {
    display: flex;
    align-items: center;

}

.project__member-outer-slider {
    overflow: hidden;

}

.project__members-slider {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    /* Set the initial margin left to 0 */
    transition: transform 0.5s ease;

}


.project__member {
    min-width: 12rem;
    min-height: 6rem;
    background-color: var(--primary-color);
    border-radius: .5rem;
    margin-right: .8rem;
    padding: .8rem;
    flex-shrink: 0;
}

.project__member-bio {
    display: flex;
    align-items: flex-start;
    gap: .7rem;
    margin-bottom: 1rem;
}

.project__member-avatar-container {
    max-width: 1.9rem;
    border-radius: 2rem;
    overflow: hidden;
    margin-right: .3rem;
    display: flex;
}

.project__member-avatar-img {
    width: 100%;
}

.project__member-texts {
    display: flex;
    flex-direction: column;
}

.project__member-name {
    margin: 0;
    font-weight: 600;
    font-size: .8rem;
    color: var(--sidebartext-color);
    margin-bottom: .3rem;
}

.project__member-profession {
    margin: 0;
    color: var(--sidebartext-color);
    font-size: .6rem;
}

.project__member-assigned-tasks {
    margin: 0;
    color: var(--sidebartext-color);
    font-size: .8rem;
}


/*======= EVENTS =======*/
.project__events {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0rem;
}


/*======= TASKS =======*/

.project__tasks {
    padding: 1.5rem;
    flex: 1;
    background-color: #fff;
    border-radius: .5rem;
}

.project__tasks-title {
    font-size: 1rem;
    font-weight: 600;
}

.project__tasks-tables {
    margin: 1.5rem 0;
    display: flex;
    flex-flow: column nowrap;
}

.project__tasks-statuses {}

#project__tasks-statuses-todo {
    border-bottom: solid 1px #b1b1b13e;
}

#project__tasks-statuses-inprogress {
    border-bottom: solid 1px #6f41cc3e;
}

#project__tasks-statuses-completed {
    border-bottom: solid 1px hsla(110, 71%, 49%, 0.251);
}

.project__tasks-statuses-link {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    max-width: max-content;
    padding: .5rem;
    font-weight: 600;
    font-size: .8rem;
    border-radius: .5rem;
}

#project__tasks-statuses-link-todo {
    color: var(--text-color);
}

#project__tasks-statuses-link-inprogress {
    background-color: var(--primary-color);
    color: var(--sidebartext-color);
}

#project__tasks-statuses-link-completed {
    background-color: hsl(110, 71%, 49%);
    color: #fff;
}

.project__tasks-statuses-link_icon {
    margin-right: .2rem;
}

.project__tasks-heading__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .8rem;
}

.project__tasks-settings-icon-white {
    color: #fff;
}

.project__tasks-table {}

.project__tasks-list-toggle {
    display: none;

}

.project__tasks-row_headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: .5rem;
    padding: .1rem .3rem;
}

.project__tasks-heading__name,
.project__tasks-heading__assigned,
.project__tasks-heading__priority,
.project__tasks-heading__deadline,
.project__tasks-heading__comments,
.project__tasks-heading__attach {
    text-transform: uppercase;
    font-size: .6rem;
}

.project__tasks-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: .5rem;
    padding: .7rem .3rem;
}

.project__tasks-row:hover {
    background-color: var(--body-color);
}

.project__tasks-status {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.project__tasks-status_box-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .8rem;
}

.project__tasks-status_box-outer:hover {
    border-radius: .15rem;
    border: solid .1rem #a7a7a7;
}

.project__tasks-status_box-inner {
    min-width: .7rem;
    min-height: .7rem;
    padding: .15rem;
    background-color: #a7a7a7;
    border-radius: .15rem;
}

.project-task-modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: .8rem;
    top: 1.8rem;
    width: 100%;
    height: 100%;
}
.project-task-modal.modal-open {
    display: flex;
  }

.project-task-modal__content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 12rem;
    height: fit-content;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px 1px #eaeaea;
}

.project-task-modal__item-wrapper {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: .7rem;
    border-radius: .5rem;
    cursor: pointer;
}

.project-task-modal__box {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    background-color: #a7a7a7;
    border-radius: .15rem;
}

#task-modal-todo .project-task-modal__box {
    background-color: #a7a7a7;
}
#task-modal-progress .project-task-modal__box {
    background-color: var(--primary-color);
}
#task-modal-check .project-task-modal__box {
    background-color: #ffd012;
}
#task-modal-completed .project-task-modal__box {
    background-color: hsl(110, 71%, 49%);
}

#task-modal-todo:hover {
    background-color: #a7a7a73c;
}
#task-modal-progress:hover {
    background-color: #6f41cc3f;
}
#task-modal-check:hover {
    background-color: #ffd01252;
}
#task-modal-completed:hover  {
    background-color: hsla(110, 71%, 49%, 0.272);
}

.project-task-modal__text {
    font-size: .8rem;
}



.project__tasks-name {
    display: flex;
    flex: 2;
}

.project__tasks-name-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: .8rem;
}

.project__tasks-assignee {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.project__tasks-asignee-container {
    max-width: 1.5rem;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.project__tasks-asignee-container-img {
    width: 100%;
}

.project__tasks-priority {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}



.project__tasks-priority-icon {
    color: var(--text-color-light);
    cursor: pointer;
}

.project__tasks-deadline {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.project__tasks-deadline__text {
    margin: 0;
    font-size: .8rem;
}

.project__tasks-deadline__days {
    margin: 0;
    margin-top: .4rem;
    font-size: .6rem;
    color: var(--text-color-light);
}

.project__tasks-comments,.project__tasks-upload {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.project__tasks-comments-icon,
.project__tasks-upload-icon {
    color: #686868;
    transition: var(--tran-01);
    cursor: pointer;
}

.project__tasks-comments-icon:hover, .project__tasks-upload-icon:hover {
    transform: scale(1.2);
}

.project__tasks-settings {
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    margin: 0 .8rem;
}

.project__tasks-settings-icon {
    transition: var(--tran-01);
    cursor: pointer;
}

.project__tasks-settings-icon:hover {
    transform: scale(1.2);
}

/*======= REMINDERS =======*/

.project__reminders {
    max-width: 25%;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: .5rem;
}

.project__reminders-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.project__reminders-container {
    display: flex;
    flex-direction: column;
}

.project__reminders-reminder,
.project__reminders-headings {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 .7rem;
}

.project__reminders-reminder {
    padding: .7rem;
    background-color: #ffeeff;
    border-radius: .5rem;
    margin: .3rem 0rem;
    transition: var(--tran-02);
}

.project__reminders-reminder:hover {
    background-color: #ffe3ff;
}

.project__reminders-name {
    display: flex;
    align-items: center;
    flex: 1;
    flex-basis: 4rem;
}

.project__reminders-priority {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.project__reminders-heading_name {
    font-size: .7rem;
    text-transform: uppercase;

}

.project__reminders-heading_priority {
    font-size: .7rem;
    text-transform: uppercase;
}



.project__reminders-reminder_details {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    flex-grow: 1;
    flex-basis: 4rem;
}

.project__reminders-reminder_name {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
}

.project__reminders-reminder_date {
    font-size: .8rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.project__reminders-reminder_priority {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.project__tasks-priority-icon {
    display: flex;
    align-items: center;
}

.project__reminders-reminder-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    flex: 0;
}

.project__reminders-reminder-settings_icon {
    color: var(--text-color-light);
    display: none;
    cursor: pointer;
}







.project__create-fixed-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    min-width: 4rem;
    min-height: 2rem;
    margin: 1rem;
    border-radius: .5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-color);
    padding: .5rem;
    transition: var(--tran-02);
    cursor: pointer;
}

.project__create-fixed-btn:hover {
    transform: scale(1.1);
}

.project__create-fixed-btn_icon {
    color: var(--body-color);
    font-size: 1rem;
    margin-right: .2rem;

}